html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}
@media (min-width: 768px) {
    html {
        scroll-padding-top: 64px;
    }
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.tab-btn {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.tab-btn.active {
    box-shadow: 0 -4px 10px -3px rgba(59, 130, 246, 0.2);
}
